<div class="container-fluid">
    <app-nav></app-nav>
  </div>
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb p_3">
      <span>
      <li class="breadcrumb-item" [routerLink]="['/hrms']">HRMS</li>
      <li class="breadcrumb-item active" aria-current="page">Assessment Process</li>
    </span>
      <li class="_date">Logged in from {{myDate | momentDate: "dddd, DD"}}<sup>{{(myDate | momentDate: "D") | dateSuffix}}</sup>
        {{myDate | momentDate: "MMM yyyy, hh:mm A"}}</li>
      <!-- <li class="_date">Date: Wednesday, December 09, 2020</li> -->
    </ol>
  </nav>

  <div class="container-fluid">
      <div class="tableSection" >
        <div class="flxEnd">
            <h5>Summary</h5>        
        </div>
        <div *ngIf="isData == 0; else assmntDataTable ">
          <h2 class="noData">No Records Found&nbsp;<i class="fa fa-frown-o" aria-hidden="true"></i></h2>
        </div>
        <ng-template #assmntDataTable>

          <div class="search-hero">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" (keyup)="checkVal()"
             autocomplete="off" placeholder="Search by Employee Name / ID / BU" />
          </div>
        <div class="myTableScroll"> 
          <table>
            <thead>
              <tr>
                <th class="sticky-col"><span><input type="checkbox" [disabled]="isDisabled" class="styled-checkbox" [(ngModel)]="isMasterSel" (change)="checkUncheckAll()"><label></label>
                </span></th>
                <th class="sticky-col"><span>S.No</span></th>
                <th class="sticky-col min_Width"><span>Name</span></th>  
                <th class="sticky-col"><span>Employee ID</span></th>  
                <th class="sticky-col"><span>Date of Join</span></th>  
                <th class="sticky-col"><span>Field Type</span></th>  
                <th class="sticky-col"><span>Employee Type</span></th>  
                <th class="sticky-col min_Width"><span>Business Unit</span></th>  
                <th class="sticky-col"><span>Department</span></th>  
              </tr>

              <!-- <tr class="header">
                <th> 
                    <div><input type="checkbox" [disabled]="isDisabled" class="styled-checkbox" [(ngModel)]="isMasterSel" (change)="checkUncheckAll()"><label></label></div>
                </th>
               
              
              </tr> -->
            </thead>

            <tbody> 
              <ng-container *ngIf="( assmntData | filter : searchText) as result">
                <tr *ngFor="let item of result ; let i= index;">
                    <td><input type="checkbox" class="styled-checkbox" [(ngModel)]="item.isSelected" (change)="isAllSelected()" value="i" ><label></label></td>
                    <td>{{i+1}}</td>
                    <td class="min_Width">{{item.FullName}}</td>
                    <td>{{item.EMPID}}</td>
                    <td>{{item.DOJ}}</td>
                    <td>{{item.FieldType}}</td>
                    <td>{{item.empType}}</td>
                    <td class="min_Width">{{item.BU}}</td>
                    <td>{{item.Department}}</td>  
                </tr>
                <tr *ngIf="result.length === 0">
                  <td colspan="9">
                    <h2 class="noData" ><i class="fa fa-frown-o" aria-hidden="true"></i>&nbsp;No Records Found for - "{{searchText}}"</h2> 
                  </td>
                </tr>
              </ng-container>
            </tbody>
        </table> 
      </div>
      <div class="flxFootr">
          <button class="actnBtn" [disabled]="btnDsble" (click)='enableEMP()'>Submit</button>
      </div>
        
      </ng-template>
      </div>
 
    </div>

    <div class="loader transLoadr" *ngIf="isLoading">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>




    