.breadcrumb li.active {
  color: #101010;
  cursor: initial;
}

.tableSection {
  padding: 1em;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.015);
  border-radius: 2px;
}

.flxEnd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
.flxEnd h5 {
  font-size: 20px;
  font-weight: 600;
  color: #101010;
  margin-bottom: 0.15em;
}
.flxEnd a.pdfDwnld {
  padding: 8px;
  background: #e4eaf0;
  border-radius: 3px;
  cursor: pointer;
}
.flxEnd a.pdfDwnld img {
  max-height: 26px;
}

.loader.transLoadr {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(253, 253, 253, 0.4196078431);
  top: 0;
  left: 0;
  z-index: 999999;
}

button.actnBtn {
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 4px 4px;
  background: #4d4d4d;
  color: #fff;
  min-width: 85px;
  max-width: 100px;
  border: 1px solid #383838;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}

button.actnBtn._fillForm {
  background: #5f44f8;
  border: 1px solid #5f44f8;
}

.noData {
  margin: 0em auto;
  text-align: center;
  font-size: 26px;
  color: #767676;
  background-color: #f3f5f8;
  padding: 2em;
}

div.myTableScroll {
  max-width: 100%;
  max-height: 450px;
  overflow: scroll;
  position: relative;
}
div.myTableScroll table {
  position: relative;
  border-collapse: initial;
  width: 100%;
}
div.myTableScroll td, div.myTableScroll th {
  padding: 0.25em;
  text-align: center;
  min-width: 130px;
  white-space: nowrap;
}
div.myTableScroll td p, div.myTableScroll th p {
  margin: 0;
  font-size: 14px;
}
div.myTableScroll thead th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  top: 0;
  background: #eaeef3;
  color: #101010;
}
div.myTableScroll thead th:nth-child(2) {
  z-index: 99;
}
div.myTableScroll thead th:first-child {
  left: 0;
  z-index: 1;
}
div.myTableScroll thead th:nth-child(even) {
  background-color: #f6f8fa;
}
div.myTableScroll thead th span {
  font-weight: 700;
  font-size: 13px;
  color: #101010;
  text-transform: uppercase;
}
div.myTableScroll thead th b {
  font-weight: 600;
  font-size: 24px;
  vertical-align: middle;
  padding-left: 5px;
}
div.myTableScroll tbody th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  left: 0;
  background: #FFF;
  border-right: 1px solid #CCC;
}
div.myTableScroll tbody tr:hover td {
  background: #ecff7d;
}
div.myTableScroll tbody td {
  background: #eaeef3;
  font-size: 13px;
  text-align: left;
  padding: 0.35em 0.85em;
}
div.myTableScroll tbody td:nth-child(even) {
  background-color: #f6f8fa;
}
div.myTableScroll tbody td span._compltd {
  color: #328d05;
}
div.myTableScroll tbody td span._proccss {
  color: #0072bc;
}
div.myTableScroll tbody td span._pending {
  color: #e46c03;
}
div.myTableScroll tbody td span._rejctd {
  color: #ed0423;
}
div.myTableScroll .sticky-col {
  position: sticky;
  position: -webkit-sticky;
  background-color: #fafbfc;
}
div.myTableScroll .first-col {
  left: 0px;
  min-width: 260px;
}
div.myTableScroll .second-col {
  width: 50px;
  min-width: 50px;
  left: 260px;
  z-index: 1;
}/*# sourceMappingURL=mngr-assesment-form.component.css.map */