.container-fluid {
  width: 98% !important;
  margin: auto;
}

.side-nav {
  background: #fff;
}

.side-nav li {
  list-style-type: none;
  line-height: 40px;
  padding-left: 10px;
}

.side-nav a {
  text-decoration: none;
  color: #000;
}

.side-nav a:hover {
  color: #0072bc;
  text-decoration: none;
}

.jobcode-section {
  padding: 15px;
  background: #fff;
}

.search-btn {
  background: transparent !important;
  border: none;
  position: absolute;
  right: 20px;
  top: 4px;
  color: #535353;
}

.create-jobcode {
  text-align: right;
}

.create-jobcode button {
  background: #0072bc;
  color: #fff;
  border: none;
  padding: 4px 10px;
}

.search-box {
  width: 94%;
  border: 1px solid #bababa;
  font-size: 13px;
  padding: 5px;
}

.modal.fade {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.modal-dialog {
  position: absolute;
  top: 20%;
  left: 20%;
  max-width: 60%;
  margin: auto;
}

.close {
  background: none !important;
  color: #000 !important;
  font-size: 30px;
}

.modal-header {
  padding: 0em 1em;
  border-bottom: none;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  text-align: left;
  margin-bottom: 0px;
}

.form-control {
  height: 40px;
  padding: 0px;
}

.exp {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0px 5px;
  height: 40px;
}

.exp p {
  color: #666666;
  margin-bottom: 0px;
}

#experience {
  border: none;
  height: 28px;
}

.btnblock {
  text-align: center;
}

.btnblock .submit {
  background: #0072bc;
  margin-right: 20px;
  color: #fff;
}

.btnblock .cancel {
  background: #e23d3a;
  color: #fff;
}

.pipe {
  margin: 0px 5px;
}

.sidenavbar {
  width: 19% !important;
  margin-right: 10px;
}

.title {
  width: 60%;
}

.title p {
  color: #000;
  font-size: 14px !important;
  font-weight: 500;
}

.btn-container {
  position: relative;
}

.create-jobcode {
  width: 20%;
}

.btn {
  background: #0072bc;
  color: #fff;
  border: none;
  padding: 4px 10px;
}

.asset-data {
  background: #f6f8fa;
  padding: 15px;
}

select, input {
  width: 100%;
  height: 40px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  font-size: 14px;
}

input {
  padding: 0px 10px;
}

.navbar-nav {
  padding: 10px;
}

label {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
}

.id {
  margin-left: 20px;
}

.product {
  width: 14.2%;
  padding-left: 15px;
  position: relative;
}

.gb {
  position: absolute;
  right: 10px;
  font-size: 13px;
  top: 26px;
}

.assetdata {
  border-top: 4px solid #fff;
}

.assetdata h6 {
  margin: 14px 0px;
}

#asset {
  padding-bottom: 10px;
}

.asset_name {
  margin-right: 10px;
  background: none;
  color: #454545;
  border: none;
  font-size: 14px;
  padding: 4px 10px 4px 0px;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

button:focus {
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 776px) {
  .col-md-2, .col-md-8, .assign-date {
    padding-right: 15px;
  }
  .product {
    width: 50%;
    padding-left: 15px;
    padding-right: 0px;
  }
}
.container-fluid {
  width: 98% !important;
  margin: auto;
}

.side-nav {
  background: #fff;
}

.side-nav li {
  list-style-type: none;
  line-height: 40px;
  padding-left: 10px;
}

.side-nav a {
  text-decoration: none;
  color: #000;
}

.side-nav a:hover {
  color: #0072bc;
  text-decoration: none;
}

.jobcode-section {
  padding: 10px 20px;
  background: #fff;
}

.jobcode-section h3 {
  color: #0072bc;
}

thead {
  background: #0072bc;
  color: #fff;
}

tr th, tr td {
  border: 1px solid #fff;
  padding: 8px 5px;
  font-size: 12px;
  text-align: center !important;
}

.search-btn {
  background: transparent !important;
  border: none;
  position: absolute;
  right: 20px;
  top: 4px;
  color: #535353;
}

.create-jobcode {
  text-align: right;
}

.create-jobcode button {
  background: #0072bc;
  color: #fff;
  border: none;
  padding: 4px 10px;
}

.search-box {
  width: 94%;
  border: 1px solid #bababa;
  font-size: 13px;
  padding: 5px;
}

.modal.fade {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.modal-dialog {
  position: absolute;
  top: 20%;
  left: 20%;
  max-width: 60%;
  margin: auto;
}

.close {
  background: none !important;
  color: #000 !important;
  font-size: 30px;
}

.modal-header {
  padding: 0em 1em;
  border-bottom: none;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  text-align: left;
  margin-bottom: 0px;
}

.form-control {
  height: 40px;
  padding: 0px;
}

.exp {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0px 5px;
  height: 40px;
}

.exp p {
  color: #666666;
  margin-bottom: 0px;
}

#experience {
  border: none;
  height: 28px;
}

.btnblock {
  text-align: center;
}

.btnblock .submit {
  background: #0072bc;
  margin-right: 20px;
  color: #fff;
}

.btnblock .cancel {
  background: #e23d3a;
  color: #fff;
}

.pipe {
  margin: 0px 5px;
}

.sidenavbar {
  width: 19% !important;
  margin-right: 10px;
}

.title h3 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.search-container {
  width: 28%;
  text-align: right;
  position: relative;
}

.create-jobcode {
  width: 20%;
}

table {
  margin-top: 10px;
}

.nav .active {
  font-weight: bold;
  color: #007bff !important;
}

.view-more i {
  color: #0072bf !important;
}

@media screen and (max-width: 776px) {
  .col-md-10 {
    padding-right: 0px;
  }
  .search-container {
    text-align: left;
  }
  .row {
    overflow: scroll;
  }
  .modal-dialog {
    left: 0%;
  }
  .sidenavbar, .create-jobcode, .title, .search-container {
    width: 100%;
  }
  tr th, tr td {
    font-size: 12px;
  }
}
.ack {
  text-align: right !important;
}

.ack button {
  background: #0072bc;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 5px 18px;
  border-radius: 3px;
}

.loop {
  width: 100%;
}

.hover-box {
  background: #F6F8FA;
  transition: background 0.3s ease;
  cursor: pointer;
}

.hover-box:hover {
  background: #DFEEFE;
}

.active-link {
  color: #0072bc;
  font-weight: bold;
}

.col-equal {
  flex: 1 1 20%;
  padding: 0 10px;
}

.asset-data {
  border-bottom: 4px solid #fff;
}

input:disabled {
  background: #fff;
}

label {
  color: #000;
}

p {
  color: #756262;
}

.active-link1 {
  color: #0072bc !important;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.active-link1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1px;
  right: 1px;
  width: 85%;
  height: 2px;
  background-color: #0072bc;
}

.fa-frown-o {
  font-size: 50px;
}

.loop {
  width: 100%;
}

#asset .col-md-3 {
  margin-bottom: 8px;
}

#asset .col-md-3 label {
  margin-bottom: 3px;
}

.asset-code {
  font-weight: 600;
  color: #000;
  margin-bottom: 0.5rem;
}

.overflow-scroll {
  overflow: scroll;
  max-height: 340px;
}

input:disabled {
  background-color: #fff;
}/*# sourceMappingURL=employee-assert-module.component.css.map */