::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.bread_crumb {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 0rem;
  padding-bottom: 1px;
  padding-top: 5px;
  min-height: 52px;
}
.bread_crumb ._date {
  color: #e23d3a;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0.2em;
}

.loggdEmps {
  justify-content: space-between;
  align-items: center;
  padding: 0.25em;
  display: flex;
  min-width: 200px;
  padding-bottom: 0;
}
.loggdEmps span {
  font-size: 24px;
  font-weight: 300;
}
.loggdEmps p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #101010;
}
.loggdEmps h2 {
  margin: 0;
  color: #7a86fa;
  -webkit-text-stroke: 1px rgba(16, 16, 16, 0.7333333333);
  font-size: 36px;
  font-weight: bolder;
  line-height: 1;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}
input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.035);
  border-radius: 8px;
}

.myProfile p {
  margin-bottom: 5px;
  color: #101010;
  font-weight: 400;
}
.myProfile p small {
  font-size: 14px;
}
.myProfile .card {
  margin-bottom: 1rem;
}
.myProfile .crdHdr {
  min-height: 180px;
  background: url("../../assets/img/dashboard/holidays-bg.svg") no-repeat;
  background-size: cover;
  padding: 1.8em 0.5em 0em 0.5em;
}
.myProfile .crdHdr h4 {
  font-size: 20px;
  font-weight: 600;
  color: #101010;
  margin-bottom: 0;
}
.myProfile .crdHdr a {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  color: #101010;
  cursor: pointer;
}

.crdBdy.table_contnr {
  height: auto;
  border: 6px solid white;
}
.crdBdy.table_contnr table tr td {
  padding: 10px 5px;
  text-align: left;
  min-width: auto;
  font-size: 12px;
}
.crdBdy.table_contnr table tr td.holydayscomingsoonLBL {
  font-size: 15px;
  font-weight: 600;
}

.hlydysModl .modal_title_img h5 {
  margin: 0;
}
.hlydysModl .modal-body {
  padding: 0;
}
.hlydysModl .crdBdy.table_contnr {
  max-height: 505px;
  overflow-y: auto;
}
.hlydysModl .crdBdy.table_contnr table tr td {
  text-transform: uppercase;
  cursor: initial;
}
.hlydysModl .closedHldy {
  color: red;
  text-transform: capitalize;
}
.hlydysModl .close {
  outline: none;
  box-shadow: none;
}

a.viewBtn {
  font-style: italic;
  color: #007bff !important;
}

a.brfView {
  background-color: #e4eaf0;
  color: #101010;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 12px;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  font-style: italic;
  min-width: 100px;
}

.myProfile h5 {
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.profile-pic {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 30px;
  border-bottom-left-radius: 1px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.168627451);
  background-color: #fff;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

canvas.chartjs-render-monitor {
  max-height: max-content;
  max-width: 400px;
  margin: 0 auto;
}

.myFlex > div {
  margin: 0.6em;
}

.myFlex {
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flx_inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.flx_inline h5 {
  margin-bottom: 0.5em;
}
.flx_inline a {
  font-style: italic;
  text-decoration: none;
  color: #101010;
}

.progress-bar-container {
  background-color: #e4eaf0;
}

.progress-bar {
  height: 10px;
  width: 0;
  border-radius: 2px;
}
.progress-bar.green {
  background-color: #34d1bf;
}
.progress-bar.yellow {
  background-color: #ffd400;
}
.progress-bar.red {
  background-color: red;
}

.inOutCard h6 {
  margin-bottom: 0.9rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inOutCard h6 b {
  color: #7ed321;
  font-size: 18px;
}
.inOutCard h6 small {
  font-size: 14px;
}
.inOutCard h6 span {
  display: inline-block;
  padding: 6px 4px;
  font-size: 12px;
  background-color: #7ed321;
  color: white;
  border-radius: 5px;
}
.inOutCard h6 label {
  margin-bottom: 0em;
}

.leaveBalBarchart .theBar {
  padding: 0.75em 0;
  margin: 0.25em 0;
}
.leaveBalBarchart .theBar .lbl._txt {
  min-width: 70%;
}
.leaveBalBarchart .theBar .lbl {
  width: 30%;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #414d55;
}
.leaveBalBarchart .theBar .lbl:nth-child(2) {
  text-align: right;
  font-size: 16px;
}
.leaveBalBarchart h3 {
  font-size: 30px;
  font-weight: 900;
  color: #101010;
  margin-bottom: 10px;
}

a.applyLveBtn {
  background: #007bff;
  color: white !important;
  padding: 4px 14px !important;
  display: inline-block;
  border-radius: 3px;
  margin-right: 10px;
}

.leaveBalDonutchart {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.leaveBalDonutchart .donutCard {
  min-width: 20.5rem;
  padding: 1em 0em;
}
.leaveBalDonutchart .donutCard h5, .leaveBalDonutchart .donutCard a {
  padding: 0em 1em;
}
.leaveBalDonutchart .donutCard p {
  padding: 0em 1.5em;
}
.leaveBalDonutchart > div {
  margin: 0 0.6em;
  margin-bottom: 1.5em;
  flex: 0 0 46.5%;
}
.leaveBalDonutchart .card {
  min-height: 430px;
}
.leaveBalDonutchart .card h5 {
  font-size: 22px;
  margin-bottom: 0.6em;
}
.leaveBalDonutchart .card a {
  font-style: italic;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
}
.leaveBalDonutchart .card p {
  color: #ff4400;
  display: block;
  font-size: 14px;
  line-height: 1.45;
  margin-top: 1em;
}

.fxdCard {
  position: absolute;
  right: 0;
  top: 0;
}
.fxdCard .card {
  max-width: 19rem;
  min-width: 19rem;
  margin-bottom: 1rem;
}

.card.inOutCard {
  padding: 15px;
  padding-bottom: 1.35em;
}
.card.inOutCard h5 {
  font-size: 20px;
  margin-bottom: 0.6em;
  color: #101010;
  font-weight: 600;
}
.card.inOutCard a {
  font-style: italic;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
}

.card.inOutCard._wfh .flx_inline {
  margin-bottom: 0;
}
.card.inOutCard._wfh h6 span {
  text-transform: uppercase;
  font-size: 14px;
}

.reltv {
  position: relative;
}

.abslt {
  position: absolute;
  top: 0;
  left: 23.5%;
  width: 100%;
  max-width: 53%;
  padding-bottom: 2em;
}

.dailyaAttndnce {
  margin: 0 0.6em;
  margin-bottom: 1em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.025);
  border-radius: 8px;
}
.dailyaAttndnce .theHdr {
  background-color: #7a86fa;
  padding: 15px 10px 5px 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.dailyaAttndnce .hdng {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dailyaAttndnce .hdng h4 {
  font-size: 18px;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 0;
}
.dailyaAttndnce .hdng a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.dailyaAttndnce .hdrBtm {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.dailyaAttndnce .hdrBtm > div {
  min-width: 20%;
  padding-right: 0.95em;
  margin-top: 1.5em;
  margin-right: 1.25rem;
}
.dailyaAttndnce .hdrBtm > div h3 {
  color: white;
  font-weight: 700;
}
.dailyaAttndnce .hdrBtm > div span {
  color: white;
  font-size: 14px;
}

button.reqstBtn {
  font-size: 14px;
  padding: 6px 8px;
  border: none;
  border-radius: 5px;
  min-width: 90px;
  background-color: #e4eaf0;
  outline: none;
  box-shadow: none;
}
button.reqstBtn.actve {
  background-color: orange;
  color: white;
}

.theBody {
  position: relative;
  border: 5px solid #fff;
  padding-top: 45px;
  background: #e4eaf0;
  border-top: 5px solid #fff;
}

.table_contnr table {
  border-spacing: 0;
  width: 100%;
}
.table_contnr tr {
  background-color: #f7f9fb;
  outline: none;
  box-shadow: none;
}
.table_contnr tr:nth-child(even) {
  background-color: #f1f4f7;
}

.table_contnr.attendanceReport {
  overflow-y: auto;
  height: 314px;
}
.table_contnr.attendanceReport table {
  border-spacing: 0;
  width: 100%;
}
.table_contnr.attendanceReport tbody tr {
  background-color: #f7f9fb;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.table_contnr.attendanceReport tbody tr:nth-child(even) {
  background-color: #f1f4f7;
}
.table_contnr.attendanceReport tbody tr.warnBg {
  background-color: #fcd855;
}
.table_contnr.attendanceReport tbody tr.holyday {
  background-color: #a5db5e;
}
.table_contnr.attendanceReport tbody td {
  border-bottom: 2px solid #fff;
  color: #101010;
  padding: 10px 10px;
  text-align: left;
  min-width: 100px;
}
.table_contnr.attendanceReport th {
  border-bottom: 2px solid #fff;
  color: #101010;
  padding: 10px 5px;
  text-align: left;
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}
.table_contnr.attendanceReport th div {
  position: absolute;
  background: transparent;
  color: #101010;
  padding: 14px 5px;
  top: 0;
  line-height: normal;
  border-left: 0px solid #fff;
  font-weight: 500;
  font-size: 18px;
  min-width: 100px;
}
.table_contnr.attendanceReport th:first-child div {
  border: none;
}

._crdAnncmnt {
  color: white;
  position: relative;
  overflow: hidden;
  max-width: 98%;
  margin: 0 auto;
  margin-bottom: 1em;
  border: 1px solid #fff;
}
._crdAnncmnt .micIcon {
  background: url("../../assets/img/dashboard/announcement-mic.svg") no-repeat;
  background-size: 88px;
  width: 108px;
  height: 88px;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.6s;
  position: absolute;
  top: 3px;
  right: 0px;
  z-index: 99;
}
._crdAnncmnt p {
  margin-bottom: 0.35em;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 0.4em;
  left: 1.5em;
  z-index: 99;
}
._crdAnncmnt h4 {
  font-size: 22px;
  line-height: 1.4;
  padding-right: 1em;
  margin-bottom: 0;
}
._crdAnncmnt owl-carousel {
  max-width: 100%;
  cursor: grab;
}
._crdAnncmnt owl-carousel .item {
  padding: 2em 2.5em 1.5em 1.5em;
  min-height: 80px;
  line-height: 1.5;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.card.ourInfo {
  padding: 1em 0.75em;
  min-height: 180px;
  background: url("../../assets/img/dashboard/our-documents-bg.png") no-repeat;
  background-size: cover;
}
.card.ourInfo h5 {
  font-size: 20px;
  font-weight: 600;
  color: #101010;
}
.card.ourInfo .crdsGrid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card.ourInfo .theCard {
  flex: 0 0 50%;
  width: 100%;
  max-width: 30%;
  padding: 3px 5px;
  background-color: #f7f9fb;
  min-height: 90px;
  margin: 0.5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #707070;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}
.card.ourInfo .theCard img {
  max-height: 32px;
  width: auto;
}
.card.ourInfo .theCard a {
  font-size: 10px !important;
  font-weight: 700;
  line-height: 1.3;
  display: block;
  padding: 8px 0px;
  color: #101010;
  opacity: 0.9;
  text-decoration: none;
  cursor: pointer;
  word-break: break-word;
}

.modal-view-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  box-sizing: border-box;
  z-index: 9999;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.view.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transform: scale(1.15);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  pointer-events: none;
  opacity: 0;
  will-change: transform, opacity;
}
.view.modal.visible {
  pointer-events: auto;
  display: block;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal-view-details {
  background: #FFF;
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  /* padding: 25px 25px 50px 25px; */
  width: 65%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}
.modal-view-details h1 {
  margin: 0.2em 0 0.4em 0;
  padding: 0;
  line-height: 1;
  font-size: 24px;
  color: #111;
}
.modal-view-details button.clsModl {
  position: absolute;
  top: 0px;
  right: -31px;
  background: none;
  color: #f5f5f5;
  background: rgba(46, 47, 43, 0.5490196078);
  border-radius: 2px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 10px;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
}
.modal-view-details button.clsModl:hover {
  background: #000;
}

.modal:after {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  content: "";
}

.bDaysCard {
  margin: 1em 0.6em;
  padding: 1.4em 1em 1em 1em;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.025);
  background-color: #ffffff;
}
.bDaysCard .flx_inline {
  margin-bottom: 0em !important;
}
.bDaysCard .flx_inline h5 {
  font-size: 20px;
  font-weight: 600;
  color: #101010;
  margin-bottom: 0.1em !important;
  position: relative;
}
.bDaysCard .flx_inline h5 span {
  position: absolute;
  top: -20px;
  right: -2.8em;
}
.bDaysCard .flx_inline h5 span img {
  max-height: 50px;
}
.bDaysCard small {
  margin-bottom: 1.5em;
  display: block;
}

.bdaysList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.bdaysList ul li {
  display: inline-block;
  max-width: 160px;
  margin-bottom: 0.7em;
}
.bdaysList .bdayOf > div {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 140px;
  background: #e4eaf0;
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e4eaf0;
}
.bdaysList .bdayOf > div img {
  max-width: 100px;
}
.bdaysList .bdayOf > div p {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  bottom: 0;
  top: 95px;
  max-width: 95px;
  left: 106px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  line-height: 1.3;
  font-size: 11px;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 600;
  opacity: 0.9;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 28px;
}

.bdayOf h6 {
  font-size: 12px;
  font-weight: 600;
  margin: 0.6em 0em;
  color: #101010;
  margin-right: 10px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}

.loader {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(253, 253, 253, 0.4196078431);
  top: 0;
  left: 0;
}

.hlydysModl {
  transition: transform 0.3s ease-out;
  overflow-y: hidden;
}
.hlydysModl::after {
  position: absolute;
  content: "";
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.hlydysModl .table_contnr {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.hlydysModl .table_contnr td.clsd {
  color: #959595;
}

.noData {
  margin: 0em auto;
  text-align: center;
  font-size: 26px;
  color: #767676;
  background-color: #f3f5f8;
  padding: 2em;
}

.card._dwnlds {
  padding: 1em;
  min-height: 430px;
  padding-bottom: 200px;
  background: url("../../assets/img/dashboard/document-downloads-BG.svg") no-repeat;
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-color: white;
}
.card._dwnlds h5 {
  margin-bottom: 1em;
}

._payslips, ._itsDocs {
  margin-bottom: 1.3em;
}
._payslips ul, ._itsDocs ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
._payslips li, ._itsDocs li {
  list-style-type: none;
  margin: 0.15555em;
  margin-bottom: 0.5em;
}
._payslips li a, ._itsDocs li a {
  max-width: 85px;
  padding: 10px 10px;
  background: #f7f9fb;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
._payslips li a p, ._itsDocs li a p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4;
  margin-top: 5px;
}

._payslips li {
  margin: 0.35555em;
  flex: 0 0 30%;
  max-width: 30%;
}

._itsDocs ul {
  align-items: flex-start;
}
._itsDocs ul li {
  min-width: 48%;
}
._itsDocs ul li a {
  max-width: 130px;
  min-height: 105px;
}
._itsDocs ul li p {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.9;
  margin-top: 8px;
}
._itsDocs .form_16 img {
  max-width: 50px;
}

.jobOpenings {
  margin: 1em 0.6em;
  padding: 1em 1em;
  padding-bottom: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.025);
  min-height: 350px;
  background: url("../../assets/img/dashboard/job-openings-bg.svg") no-repeat;
  background-size: 43%;
  background-position-y: top;
  background-position-x: 98%;
  background-color: #ffffff;
}
.jobOpenings .flx_inline h5 {
  font-size: 20px;
  font-weight: 600;
  color: #101010;
}
.jobOpenings ._job {
  min-width: 330px;
  max-width: 350px;
  overflow: hidden;
  padding: 1em;
  border-radius: 15px;
  background-color: rgba(244, 247, 250, 0.9411764706);
  border: solid 1px rgba(122, 134, 250, 0.3019607843);
  border-bottom-left-radius: 0px;
  min-height: 335px;
  padding-bottom: 60px;
}
.jobOpenings ._job h6 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1em;
}
.jobOpenings ._job ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.jobOpenings ._job ul li {
  margin-bottom: 0.5em;
}
.jobOpenings ._job ul li p {
  margin-bottom: 0px;
  color: #101010;
  font-size: 16px;
  font-weight: 300;
  word-break: break-word;
}
.jobOpenings ._job ul li p a {
  color: #3c4ce2;
}
.jobOpenings ._job ul li p b {
  font-weight: 600;
}
.jobOpenings ._job a.btn.brfView {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  bottom: 18px;
}
.jobOpenings ._listOfOpngs {
  max-width: 360px;
}

div.myTableScroll {
  max-width: 100%;
  max-height: 350px;
  overflow: scroll;
  position: relative;
}
div.myTableScroll table {
  position: relative;
  border-collapse: initial;
  width: 100%;
}
div.myTableScroll td, div.myTableScroll th {
  padding: 0.45em 0.75em;
  text-align: left;
  min-width: 130px;
  white-space: nowrap;
}
div.myTableScroll td p, div.myTableScroll th p {
  margin: 0;
  font-size: 14px;
}
div.myTableScroll thead th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  top: 0;
  background: #e4eaf0;
  color: #101010;
}
div.myTableScroll thead th:nth-child(2) {
  z-index: 99;
}
div.myTableScroll thead th:first-child {
  z-index: 1;
}
div.myTableScroll thead th span {
  font-weight: 600;
  font-size: 14px;
  color: #101010;
  text-transform: uppercase;
}
div.myTableScroll thead th b {
  font-weight: 600;
  font-size: 24px;
  vertical-align: middle;
  padding-left: 5px;
}
div.myTableScroll tbody th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  left: 0;
  background: #FFF;
  border-right: 1px solid #CCC;
}
div.myTableScroll tbody tr {
  background: #f1f4f7;
}
div.myTableScroll tbody tr:nth-child(even) {
  background-color: #f7f9fb;
}
div.myTableScroll tbody tr.warnBg {
  background-color: #fcd855;
}
div.myTableScroll tbody tr.holyday {
  background-color: #a5db5e;
}
div.myTableScroll tbody td {
  font-size: 14px;
  text-align: left;
  padding: 0.65em 0.75em;
  cursor: pointer;
}
div.myTableScroll tbody td h5 {
  font-size: 18px;
}
div.myTableScroll tbody td span._compltd {
  color: #328d05;
}
div.myTableScroll tbody td span._proccss {
  color: #0072bc;
}
div.myTableScroll tbody td span._pending {
  color: #e46c03;
}
div.myTableScroll tbody td span._rejctd {
  color: #ed0423;
}
div.myTableScroll .sticky-col {
  position: sticky;
  position: -webkit-sticky;
  background-color: #fafbfc;
}
div.myTableScroll .first-col {
  left: 0px;
  min-width: 260px;
}
div.myTableScroll .second-col {
  width: 50px;
  min-width: 50px;
  left: 260px;
  z-index: 1;
}

div.myTableScroll._assamAttndnceTable td, div.myTableScroll._assamAttndnceTable th {
  min-width: 110px;
}

.welcome_Txt {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}
.welcome_Txt h2 {
  font-size: 22px;
}
.welcome_Txt p {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: #2ea9f0;
  margin-bottom: 0;
}
.welcome_Txt p span {
  font-size: 14px;
  color: #101010;
}
.welcome_Txt p._logout {
  position: absolute;
  right: 2em;
  top: 2em;
}
.welcome_Txt p._logout a {
  cursor: pointer;
  display: block;
  padding: 4px;
}
.welcome_Txt p._logout a i {
  font-size: 1.2em;
}

.PanInfoForm .form-group {
  position: relative;
}
.PanInfoForm .invalid-feedback {
  display: initial;
  width: auto;
  font-size: 13px;
  color: #ba0202;
  margin: 0;
}
.PanInfoForm label.uploadBtn {
  display: flex;
  background: #d4edf6;
  border: 1px solid #ddd;
  padding: 0.35em 0em 0.4em 0;
  border-radius: 3px;
  align-items: flex-end;
  margin-bottom: -2px;
}
.PanInfoForm label.uploadBtn span {
  padding-left: 10px;
  vertical-align: text-top;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
}
.PanInfoForm label.uploadBtn img {
  max-width: 26px;
  margin-left: 8px;
}

.flxGridRow {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
.flxGridRow > div {
  flex: 0 0 49%;
  max-width: 49%;
  padding: 0em 1em;
}
.flxGridRow > div form {
  max-width: 100%;
}
.flxGridRow > div form .radioGrid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.flxGridRow > div form .radioGrid > div {
  flex: 0 0 40%;
  max-width: 40%;
}
.flxGridRow > div form .flxRoww {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.flxGridRow > div form .flxRoww > div {
  flex: 0 0 49%;
  max-width: 49%;
}
.flxGridRow > div form input[type=text] {
  outline: 0;
  box-shadow: none;
  text-transform: uppercase;
}
.flxGridRow > div form .datePckr:disabled, .flxGridRow > div form input.datePckr.form-control[readonly] {
  background: white;
  font-size: 14px;
  max-width: 49%;
}
.flxGridRow > div form textarea {
  max-height: 90px;
  min-height: 60px;
  outline: none;
  box-shadow: none;
  font-size: 14px;
}
.flxGridRow .theFelxx {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}
.flxGridRow #rectangle {
  width: 100%;
  max-width: 440px;
  height: 225px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  background: -moz-linear-gradient(212deg, rgb(153, 218, 255) 0%, rgb(161, 139, 159) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgb(161, 139, 159)), color-stop(100%, rgb(153, 218, 255)));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(212deg, rgb(153, 218, 255) 0%, rgb(161, 139, 159) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(212deg, rgb(153, 218, 255) 0%, rgb(161, 139, 159) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(212deg, rgb(153, 218, 255) 0%, rgb(161, 139, 159) 100%);
  /* ie10+ */
  background: linear-gradient(238deg, rgb(153, 218, 255) 0%, rgb(161, 139, 159) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#A18B9F", endColorstr="#99DAFF",GradientType=1 );
  /* ie6-9 */
  position: relative;
}
.flxGridRow #rectangle h1 {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 20px #ff00de, 0 0 75px #ff00de;
  font-size: 24px;
}
.flxGridRow #rectangle h2 {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 20px #ff00de, 0 0 75px #ff00de;
  font-size: 22px;
}
.flxGridRow #rectangle h4 {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 3px #ff00de, 0 0 40px #ff00de, 0 0 5px #ff00de, 0 0 75px #ff00de;
  font-size: 18px;
  text-transform: uppercase;
}
.flxGridRow #rectangle h3 {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 20px #ff00de, 0 0 75px #ff00de;
  font-size: 14px;
  text-transform: uppercase;
}
.flxGridRow #rectangle .A {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 55px;
  height: auto;
}
.flxGridRow #rectangle span {
  margin-top: 20px;
  display: block;
  color: #034892;
}
.flxGridRow #rectangle p {
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  font-size: 24px;
  margin-left: 10px;
  text-decoration: none;
  color: #000;
}
.flxGridRow #rectangle a {
  color: #000;
}
.flxGridRow #rectangle .exmpleCase {
  position: absolute;
  left: 0.7em;
  bottom: 1em;
}
.flxGridRow #rectangle .exmpleCase small {
  display: block;
}
.flxGridRow .custom_validtn {
  color: #ba0202;
  font-size: 13px;
}
.flxGridRow .v_center {
  vertical-align: middle;
  text-align: left;
}
.flxGridRow .v_center label {
  vertical-align: text-bottom;
  margin-left: 8px;
  cursor: pointer;
}
.flxGridRow .v_center input[type=radio] {
  width: 25px;
  height: 25px;
  cursor: pointer;
  webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e4eaf0;
  border-radius: 50%;
  outline: none;
  box-shadow: none;
}
.flxGridRow .v_center input[type=radio]:disabled {
  cursor: auto;
}
.flxGridRow .v_center input[type=radio]:checked {
  background-color: #7a86fa;
}
.flxGridRow .v_center input[type=radio].is-invalid {
  border: 2px solid #f20000;
}

.inPgrssPAN {
  text-align: center;
}
.inPgrssPAN p {
  font-size: 14px;
  color: #101010;
}
.inPgrssPAN h2 {
  font-size: 18px;
  color: #101010;
  font-weight: 500;
}

.modal-content.popup_onload {
  height: max-content;
  overflow: auto;
  padding: 30px;
}
.modal-content.popup_onload p {
  margin-bottom: 10px;
}
.modal-content.popup_onload button.close {
  position: absolute;
  right: 0;
  top: 0;
}
.modal-content.popup_onload ol, .modal-content.popup_onload ul, .modal-content.popup_onload dl {
  font-size: 14px;
}
.modal-content.popup_onload .model_btn {
  text-align: center;
}

.theCard.new_relative {
  position: relative;
}
.theCard.new_relative .new_pdf {
  animation: blinker 1s linear infinite;
  position: absolute;
  top: 1px;
  right: 3px;
  background: red;
  width: max-content;
  padding: 0px 5px;
  color: #fff;
  font-size: 14px;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.center_model {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

tr.table_padding {
  display: block;
  padding: 15px;
}/*# sourceMappingURL=dashboard.component.css.map */